* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#gameBoard {
    border-spacing: 0;
}

td {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    background-color: #bdbdbd;
}

td.hidden, td.flagged {
    border-bottom: solid 2px #7b7b7b;
    border-right: solid 2px #7b7b7b;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
}

td.pressed, td.mine {
    border-top: solid 1px #7b7b7b;
    border-left: solid 1px #7b7b7b;
    border-bottom: none;
    border-right: none;
}

td.flagged {
    background-image: url('../imgs/flag.svg');
}

td.mine {
    background-color: red;
    background-image: url('../imgs/mine.svg');
}

td.open {
    /* DEBUG color */
    background-color: grey;
}

/* Number Colors */
td.num1 {
    color: blue
}

td.num2 {
    color: green   
}

td.num3 {
    color: red
}

td.num4 {
    color: darkblue
}

td.num5 {
    color: maroon
}

td.num6 {
    color: darkcyan
}

td.num7 {
    color: purple
}

td.num8 {
    color: orange
}